<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910633502429-fqubbp1s01timh6u6ia6dc95k5kv73tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910633502429-fqubbp1s01timh6u6ia6dc95k5kv73tb</string>
	<key>API_KEY</key>
	<string>AIzaSyC5snfO-4qUGpJmCrPnqHTONxcZuCdZQEM</string>
	<key>GCM_SENDER_ID</key>
	<string>910633502429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ssccTalk</string>
	<key>PROJECT_ID</key>
	<string>sscctalk</string>
	<key>STORAGE_BUCKET</key>
	<string>sscctalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910633502429:ios:ba2699f574e447172bbd34</string>
</dict>
</plist>